<section class="flex flex-col justify-between w-full h-[calc(100vh-7.5rem)] overflow-y-auto">
    <div class="bg-confirm py-2 px-12 mt-8 flex justify-between items-center">
        <span class="font-semibold text-white text-3xl">Participación</span>
        <button routerLink="/"
            class="flex font-semibold text-error hover:brightness-90 cursor-pointer bg-white rounded shadow-lg">
            <span class="text-xl flex items-center bg-error/20 py-2 px-4">Salir</span>
        </button>
    </div>
    <div class="flex items-center shadow-lg border-2 border-primary bg-primary/40 p-26 rounded m-12">
        <span class="text-nowrap mr-4">
            Ingresá el link que te compartieron para participar de la encuesta:
        </span>
        <input type="text" name="link" id="link" [value]="linkForm()" (input)="handleSetLinkForm($event)"
            class="bg-white w-full shadow-lg border-2 border-primary rounded-lg pl-4 py-2 placeholder:text-disabled placeholder:brightness-60 font-semibold text-xl mr-4" />
        <button [disabled]="linkForm() === ''" (click)="handleSearchPublishedForm()"
            class="flex text-nowrap items-center w-fit bg-confirm hover:brightness-90 px-4 py-3 rounded text-white shadow-lg cursor-pointer disabled:border disabled:border-disabled disabled:bg-white/60 disabled:text-disabled disabled:brightness-60 disabled:cursor-not-allowed">
            <i class="material-symbols-outlined mr-2 text-xl">edit</i>
            Acceder
        </button>
    </div>
    <span></span>
</section>