<section class="flex flex-col justify-between w-full h-[calc(100vh-7.5rem)] overflow-y-auto">
    <div class="bg-confirm py-2 px-12 mt-8 flex justify-between items-center">
        <span class="font-semibold text-white text-3xl">Participación</span>
        <button routerLink="/"
            class="flex font-semibold text-error hover:brightness-90 cursor-pointer bg-white rounded shadow-lg">
            <span class="text-xl flex items-center bg-error/20 py-2 px-4">Salir</span>
        </button>
    </div>
    <div class="flex items-center shadow-lg border-2 border-primary bg-primary/40 p-26 rounded m-12">
        <span class="text-nowrap mr-4">
            Ingresá el link para responder la encuesta:
        </span>
        <input type="text" name="link" id="link"
            class="bg-white w-full shadow-lg border-2 border-primary rounded-lg pl-4 py-2 placeholder:text-disabled placeholder:brightness-60 font-semibold text-xl" />
    </div>
    <span></span>
</section>