<section class="w-full h-[calc(100vh-7.5rem)] overflow-y-auto">

    <div class="bg-primary py-2 px-12 mt-8 flex justify-between items-center">
        <span class="font-semibold text-white text-3xl">
            Creación
        </span>
        <button class="flex font-semibold text-error hover:brightness-90 cursor-pointer bg-white rounded shadow-lg">
            <span class="text-xl flex items-center bg-error/20 py-2 px-4">Salir</span>
        </button>
    </div>

    <div class="border-2 border-header rounded-lg shadow-lg p-12 m-12 relative">
        <div
            class="absolute flex w-fit text-nowrap items-end justify-center top-[-1.5rem] left-[40vw] bg-white text-confirm px-4">
            <i class="material-symbols-outlined mr-4 !text-4xl">edit_document</i>
            <span class="text-2xl font-semibold">Nueva encuesta</span>
        </div>

        <div class="flex">
            <input type="text" name="title-form" id="title-form" [value]="titleForm()"
                (input)="handleSetTitleForm($event)"
                class="w-full shadow-lg border-2 border-primary rounded-lg pl-4 py-2 placeholder:text-disabled placeholder:brightness-60 font-semibold text-xl"
                placeholder="Título de la encuesta">
        </div>

        <div class="mt-8 flex flex-col w-full shadow-lg border-2 border-primary bg-primary/40 py-12 px-26 rounded">
            <div class="bg-white rounded relative">
                <span class="absolute -top-6 -left-22 text-6xl font-semibold text-primary">01</span>
                <div class="flex flex-col w-full shadow-lg border-2 border-primary bg-primary/20 pt-12 px-8 rounded">
                    <input type="text" name="question" id="question" [value]="titleQuestion()"
                        (input)="handleSetTitleQuestionForm($event)"
                        class="w-full shadow-lg border-2 border-header rounded-lg pl-4 py-2 bg-white placeholder:text-disabled placeholder:brightness-60"
                        placeholder="Pregunta 1">
                    <select name="options-question" id="options-question" [value]="typeQuestion()"
                        (change)="handleSetTypeQuestionForm($event)"
                        class="w-full bg-white py-2 px-4 border-2 border-header rounded-lg mt-4">
                        <option value="multiple">Selección múltiple</option>
                        <option value="unique">Selección única</option>
                        <option value="text">Texto libre</option>
                    </select>
                    <button *ngIf="typeQuestion() !== 'text'"
                        class="group flex items-center w-fit text-primary hover:brightness-90 py-4 cursor-pointer"
                        (click)="handleOpenDialog()">
                        <i class="material-symbols-outlined mr-2 !text-base">add</i>
                        <span class="group-hover:underline">Agregar opciones</span>
                    </button>
                    <div class="flex w-full items-center justify-end gap-4">
                        <button
                            class="group flex items-center w-fit text-confirm hover:brightness-90 p-4 pr-0 cursor-pointer mt-4">
                            <i class="material-symbols-outlined mr-2 !text-base">save</i>
                            <span class="group-hover:underline">Guardar</span>
                        </button>
                        <button
                            class="group flex items-center w-fit text-primary hover:brightness-90 p-4 pr-0 cursor-pointer mt-4">
                            <i class="material-symbols-outlined mr-2 !text-base">edit</i>
                            <span class="group-hover:underline">Editar</span>
                        </button>
                        <button
                            class="group flex items-center w-fit text-error hover:brightness-90 p-4 pr-0 cursor-pointer mt-4">
                            <i class="material-symbols-outlined mr-2 !text-base">delete</i>
                            <span class="group-hover:underline">Eliminar</span>
                        </button>
                    </div>

                </div>
            </div>
            <button
                class="flex items-center w-fit border-2 border-primary bg-white/30 hover:brightness-90 p-4 rounded text-primary shadow-lg cursor-pointer mt-8 self-end">
                <i class="material-symbols-outlined mr-2 !text-base">add</i>
                <span>Nueva pregunta</span>
            </button>
        </div>

        <div class="flex w-full items-center justify-between mt-8">
            <div class="flex items-center shadow-lg p-4 border-2 border-primary rounded-lg text-nowrap">
                <span>Publicar por</span>
                <input type="number" name="time-form" id="time-form" [value]="timeForm()"
                    (input)="handleSetTimeForm($event)" min="1"
                    class="mx-2 w-20 border-2 border-primary rounded-lg pl-4 py-2 placeholder:text-disabled placeholder:brightness-60"
                    placeholder="Cant.">
                <span>días</span>
            </div>
            <div class="flex w-full items-center justify-end gap-4">
                <button
                    class="flex items-end w-fit bg-primary hover:brightness-90 p-4 rounded text-white shadow-lg cursor-pointer">
                    <i class="material-symbols-outlined mr-2 text-xl">move_to_inbox</i>
                    Guardar encuesta
                </button>
                <button
                    class="flex items-end w-fit bg-confirm hover:brightness-90 p-4 rounded text-white shadow-lg cursor-pointer">
                    <i class="material-symbols-outlined mr-2 text-xl">cloud_upload</i>
                    Publicar encuesta
                </button>
            </div>
        </div>
    </div>

</section>